/* CONTENIDO INDEX */
#index1{
    display: flex;
    background-color: rgb(211, 235, 255);
}

#indexCard{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 50px;
}

#indexCard h1{
    grid-row: 1;
    grid-column: 1;
    font-size: 100px;
    text-transform: uppercase;
    text-align: left;
}

#indexCard p{
    grid-row: 2;
    grid-column: 1;
    line-height: 40px;
}

#indexCard img{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    height: 100%;
    margin: auto;
    padding: 0; 
}

#index2{
    width: auto;
    height: auto;
    padding: 100px 170px;
}

#index2 h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
}
/* FIN CONTENIDO INDEX */