section{
    line-height: 40px;
    padding: 75px 110px;
    text-align: center;
}

#precios {
    margin-top: 50px;
}

#precios h2{
    padding: 15px 0;
    text-transform: uppercase;
}

#precios ul {
    list-style-type: none;
}

#saberMas{
    width: auto;
    margin: 15px auto;
}

#secundario{
    margin: 30px;
}